@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  align-items: center;
  padding-top: 60px;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
